@font-face {
    font-family: 'Ringbearer';
    src: url(./RINGM___.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.movies {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Ringbearer';
    justify-content: center;
}


